services:
  teslamate-teslamate:
    image: "teslamate/teslamate:2.2.0"
    container_name: "Teslamate"
    restart: "always"
    labels:
      tsdproxy.enable: "true"
      tsdproxy.name: "teslamate"
      tsdproxy.ephemeral: "true"
      net.unraid.docker.managed: "dockerman"
      net.unraid.docker.webui: "http://[IP]:[PORT:${PORT_TESLAMATE_TESLAMATE}]"
      net.unraid.docker.icon: "https://raw.githubusercontent.com/simonsickle/unraid-templates/main/teslamate/logo.png"
    volumes:
      - "${PATH_APPDATA_UNRAID}/teslamate/./import:/opt/app/import"
    ports:
      - "${PORT_TESLAMATE_TESLAMATE}:${PORT_TESLAMATE_TESLAMATE}"
    environment:
      ENCRYPTION_KEY: "${TESLAMATE_ENCRYPTION_KEY}"
      DATABASE_USER: "${PG_USER}"
      DATABASE_PASS: "${PG_PASS}"
      DATABASE_NAME: "${PG_DB_TESLAMATE}"
      DATABASE_HOST: "${PG_HOST}"
      MQTT_HOST: "${MQTT_HOST}"
      MQTT_USERNAME: "${MQTT_USERNAME}"
      MQTT_PASSWORD: "${MQTT_PASSWORD}"
      PORT: "${PORT_TESLAMATE_TESLAMATE}"
    cap_drop:
      - "all"

  teslamate-grafana:
    image: "teslamate/grafana:2.1.1"
    container_name: "Teslamate_Grafana"
    restart: "always"
    labels:
      tsdproxy.enable: "true"
      tsdproxy.name: "teslamate-grafana"
      tsdproxy.ephemeral: "true"
      net.unraid.docker.managed: "dockerman"
      net.unraid.docker.webui: "http://[IP]:[PORT:${PORT_TESLAMATE_GRAFANA}]"
      net.unraid.docker.icon: "https://raw.githubusercontent.com/simonsickle/unraid-templates/main/teslamate/logo.png"
    volumes:
      - "${PATH_APPDATA_UNRAID}/teslamate/grafana-data:/var/lib/grafana"
    ports:
      - "${PORT_TESLAMATE_GRAFANA}:3000"
    environment:
      DATABASE_USER: "${PG_USER}"
      DATABASE_PASS: "${PG_PASS}"
      DATABASE_NAME: "${PG_DB_TESLAMATE}"
      DATABASE_HOST: "${PG_HOST}"
      PUID: "472"
      PGID: "472"

  teslamate-abrp:
    container_name: "Teslamate_ABRP"
    image: "fetzu/teslamate-abrp:3.3.0"
    restart: "always"
    labels:
      net.unraid.docker.managed: "dockerman"
      net.unraid.docker.icon: "https://raw.githubusercontent.com/simonsickle/unraid-templates/main/teslamate/logo.png"
    environment:
      MQTT_SERVER: "${MQTT_HOST}"
      MQTT_USERNAME: "${MQTT_USERNAME}"
      MQTT_PASSWORD: "${MQTT_PASSWORD}"
      USER_TOKEN: "${TESLAMATE_ABRP_KEY}"
      CAR_NUMBER: "${TESLAMATE_ABRP_CAR_NUMBER}"
      CAR_MODEL: "${TESLAMATE_ABRP_CAR_MODEL}"