apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: '31.1.1'
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  targetNamespace: traefik
  install:
    createNamespace: true
  values:
    service:
      type: LoadBalancer
      annotations:
        metallb.universe.tf/address-pool: default-pool
    ports:
      web:
        port: 80
        exposedPort: 80
      websecure:
        port: 443
        exposedPort: 443
    logs:
      general:
        level: INFO
      access:
        enabled: true
    # Enable dashboard
    ingressRoute:
      dashboard:
        enabled: false