apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden
  namespace: vaultwarden
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vaultwarden
  template:
    metadata:
      labels:
        app: vaultwarden
    spec:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
      containers:
        - name: vaultwarden
          image: vaultwarden/server:latest
          ports:
            - containerPort: 80
          env:
            - name: DOMAIN
              value: "https://vaultwarden"
            - name: SIGNUPS_ALLOWED
              value: "true"
            - name: ADMIN_TOKEN
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: VAULTWARDEN_ADMIN_TOKEN
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: PG_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: PG_PASS
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: PG_HOST
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: PG_DB_VAULTWARDEN
            - name: DATABASE_URL
              value: "postgresql://$(DB_USER):$(DB_PASSWORD)@$(DB_HOST):5432/$(DB_NAME)"
          volumeMounts:
            - name: vaultwarden-data
              mountPath: /data
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      volumes:
        - name: vaultwarden-data
          persistentVolumeClaim:
            claimName: vaultwarden-data-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: vaultwarden
  namespace: vaultwarden
spec:
  selector:
    app: vaultwarden
  ports:
    - port: 80
      targetPort: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vaultwarden
  namespace: vaultwarden
spec:
  defaultBackend:
    service:
      name: vaultwarden
      port:
        number: 80
  ingressClassName: tailscale
  tls:
    - hosts:
        - vaultwarden