services:
  postgresql_immich:
    image: "tensorchord/pgvecto-rs:pg16-v0.3.0"
    container_name: "PostgreSQL_Immich"
    environment:
      - "TZ=Europe/Paris"
      - "HOST_OS=Unraid"
      - "HOST_HOSTNAME=Tower"
      - "HOST_CONTAINERNAME=PostgreSQL_Immich"
      - "POSTGRES_PASSWORD=${IMMICH_DB_PASSWORD}"
      - "POSTGRES_USER=postgres"
      - "POSTGRES_DB=immich"
    labels:
      "net.unraid.docker.managed": "dockerman"
    volumes:
      - "${PATH_APPDATA_UNRAID}/PostgreSQL_Immich:/var/lib/postgresql/data:rw"
    ports:
      - "${IMMICH_DB_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  immich-redis:
    image: "redis:8.2.2"
    container_name: "Immich-Redis"
    environment:
      - "TZ=Europe/Paris"
      - "HOST_OS=Unraid"
      - "HOST_HOSTNAME=Tower"
      - "HOST_CONTAINERNAME=Immich-Redis"
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  immich:
    image: "ghcr.io/imagegenius/immich:2.2.1"
    container_name: "Immich_Application"
    environment:
      - "NVIDIA_VISIBLE_DEVICES=all"
      - "NVIDIA_DRIVER_CAPABILITIES=all"
      - "HOST_OS=Unraid"
      - "HOST_HOSTNAME=Tower"
      - "HOST_CONTAINERNAME=immich"
      - "DB_HOSTNAME=${IMMICH_ADDRESS}"
      - "DB_PORT=${IMMICH_DB_PORT}"
      - "DB_USERNAME=postgres"
      - "DB_PASSWORD=${IMMICH_DB_PASSWORD}"
      - "DB_DATABASE_NAME=immich"
      - "REDIS_HOSTNAME=${IMMICH_ADDRESS}"
      - "REDIS_PORT=6379"
      - "REDIS_PASSWORD=''"
      - "MACHINE_LEARNING_HOST=0.0.0.0"
      - "MACHINE_LEARNING_PORT=3003"
      - "MACHINE_LEARNING_WORKERS=1"
      - "MACHINE_LEARNING_WORKER_TIMEOUT=120"
      - "PUID=99"
      - "PGID=100"
      - "UMASK=022"
    labels:
      "net.unraid.docker.managed": "dockerman"
      "net.unraid.docker.webui": "http://[IP]:[PORT:8080]"
      "net.unraid.docker.icon": "https://raw.githubusercontent.com/imagegenius/templates/main/unraid/img/immich.png"
      "tsdproxy.enable": "true"
      "tsdproxy.name": "immich"
      "tsdproxy.container_port": "8080"
      "tsdproxy.ephemeral": "true"
    ports:
      - "8080:8080"
    volumes:
      - "${PATH_APPDATA_UNRAID}/immich/photos:/photos:rw"
      - "${PATH_APPDATA_UNRAID}/immich/libs:/libraries:rw"
      - "${PATH_APPDATA_UNRAID}/immich:/config:rw"
    deploy:
      resources:
        reservations:
          devices:
            - driver: "nvidia"
              count: "all"
              capabilities: ["gpu"]
    runtime: "nvidia"
    depends_on:
      postgresql_immich:
        condition: service_healthy
      immich-redis:
        condition: service_healthy
